<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
<appSettings>
  <add key="LogFolderPath" value="c:/logs"/>
  <add key="ErrorLogFile" value="ErrorLog"/>
<add key="ErrorLogFileNameExtension" value=".log"/>
<add key="DefaultLogFile" value="DefaultLog"/>
<add key="DefaultLogFileNameExtension" value=".log"/>
</appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
